<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="misEstilos.css">
<title>Series</title>
</head>
<body>
	<main>
		<h1 id="titulo_web">Series | Mejores del 2021 | Netflix</h1>
		<table>
			<tr id="cabecera">
				<th>Portada</th>
				<th>Titulo</th>
				<th>Sinopsis</th>
				<th class="anyoEstrenoCabecera">Estreno</th>
				<th>Temporadas</th>
			</tr>
			<tr th:each="serie : ${series}" class="serie">
				<td class="portada"><img th:src="@{${serie.imagen}}"/></td>
				<td th:text="${serie.titulo}" class="titulo"/>
				<td th:text="${serie.sinopsis}" class="sinopsis"/>
				<td th:text="${serie.anyoEstreno}" class="anyoEstreno"/>
				<td th:text="${serie.temporadas}" class="temporadas"/>
			</tr>
		</table>
	</main>
</body>
</html>